html {
    background-image: url(jeremy-thomas-E0AHdsENmDg-unsplash.jpg);
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.navbar-dark {
    background-color: transparent;
}
