/* whole html has image as background */
html {
    background-image: url(jeremy-thomas-E0AHdsENmDg-unsplash.jpg);
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* This styles border of whole page */
#top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;
	}
#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
#left { left: 0; }
#right { right: 0; }	
#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
#top { top: 0; }
#bottom { bottom: 0; }

.container {
    border-radius: 1px;
    border-color: aliceblue;
    width: fit-content;
}


/* Gets rid of border on smaller screens */
@media only screen and (max-width: 500px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#top, #bottom, #left, #right { display: none; }
}


