/* whole html has image as background */
html {
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* This styles border of whole page */
#top, #bottom, #left, #right {
	background: #85adcc;
	position: fixed;
	shadow: 20px 20px 20px 20px rgba(90, 158, 167, 0.4);
	}
#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
#left { left: 0; }
#right { right: 0; }	
#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
#top { top: 0; }
#bottom { bottom: 0; }

.btn {
	color: #1b191a;
	width: 20%;
	height: 30%;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 700;
	background-color: #fff;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	padding: 1.5%;
	margin: 2% 2% 2% 8%;
}

.btn:hover {
	background-color: #85adcc;
	box-shadow: 0px 15px 20px rgb(92,128,156);
	color: white;
	transform: translateY(-7px);
}

.card {
	font-family:'Roboto', sans-serif;
	letter-spacing: 2.5px;
	margin: 0;
	padding-top: 10%;
	text-shadow: 2px 2px 2px 2px #85adcc;
	border: none;
}

.neon {
	color: #1b191a;
	text-shadow:
	  0 0 5px #fff,
	  0 0 10px #fff,
	  0 0 20px #85adcc,
	  0 0 40px #85adcc,
	  0 0 80px #85adcc,
	  0 0 90px #85adcc,
	  0 0 100px #85adcc,
	  0 0 150px #85adcc;
}

.header {
	padding-left: 5%;
	padding-right: 5%;
}

.card .lead {
	font-size: 30px;
	color: #85adcc;
	border: none;
}

.container {
	padding: 3%;
}

.bio {
	padding-top: 3%;
	padding-left: 5%;
	padding-right: 3%;
	padding-bottom: 3%;
}

.img {
	float: left;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 3%;
	padding-left: 3%;
	margin-left: 1%;
	border-radius: 50%;
}

.container .biobody {
	color: white;
	font-family:'Roboto', sans-serif;
	font-size: 125%;
	padding-top: 1%;
	padding-bottom: 3%;
	padding-right: 3%;
	padding-left: 3%;
}

.container .biobody .card-title {
	color: white;
	font-family:'Roboto', sans-serif;
	letter-spacing: 2.5px;
	font-size: 150%;
}

.card-deck {
	padding-left: 4%;
	padding-right: 4%;
	color: #343a40;
	text-align: center;
}

.container .card-title {
	color: #343a40;
	text-transform: uppercase;
	font-family:'Roboto', sans-serif;
	letter-spacing: 2.5px;
	font-size: 200%;
	margin: 0;
}

.card-deck .card-title {
	color: #343a40;
	font-family:'Roboto', sans-serif;
	letter-spacing: 2.5px;
	font-size: 150%;
	margin: 0;
}

.card {
	padding-top:5%;
}





/* Gets rid of border on smaller screens */
@media only screen and (max-width: 500px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#top, #bottom, #left, #right { display: none; }
}

